*{
    font-family: 'Times New Roman', Times, serif;

}



.item {
width: 200px;
justify-content: center;
align-items: center;
color: darkblue;

}
.item:nth-of-type(1){
    font-size: xx-large;
}

.flex-container-header{
    display: flex;
    justify-content: space-between;
    background-color: navy;
}

.item-header {
    height: 100px;
    font-size: x-large;
    background-color: navy;
    color: teal;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-header:nth-of-type(1){
    flex-grow: 6;
    justify-content: left;
    margin-left: 2%;
}

.item-header:nth-of-type(2){
    flex-grow: 2;

}

.item-header:nth-of-type(3){
    flex-grow: 2;

}

.item-header:nth-of-type(4){
    flex-grow: 2;

}

.item:nth-of-type(1){

    align-self: center;
    margin: 10%;
}

.item:nth-of-type(2){

    width: 40%;
    align-self: center;
    margin: 4%;
}

.item p {
    line-height: 2;
}


.flex-container {
    display: flex;
    justify-content: space-around;
    background-color: aqua;
}

#Welcome{
    text-align: center;
    background-color:cadetblue;
    color: white;
    justify-content: center;
    font-size: xx-large;
    padding: 2%;
}

#projects {
    background-color: peachpuff;
    text-align: center;
    color: maroon;
    height: 50px;
    font-size: xx-large;
}

.project-sites{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact{
    display: flex;
    border: solid red 1px;


}


.contact-items{

    font-size: x-large;
}

.contact-items:nth-of-type(1){
    flex: 1;
    margin: 20px;

}

.contact-items:nth-of-type(2){
    margin: 20px;
}

.contact-items:nth-of-type(3){ 
    margin: 20px;
}

#flex-container-about-me {
display:table-column


}